/* .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
} */

:root {
    --blue-accent: #357EFE;
    --secondary-text: rgba(255, 255, 255, 0.8);
    --yellow-accent: rgba(255, 199, 54, 1);
    --green-accent: #1ABC9C;
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(78, 93, 124, 0.5);
    --btn-hover: #ececec;
    --dvd-color: rgba(78, 93, 124, 0.08);
    --footer-bg: rgba(26, 29, 37, 1);

    --border-8: 8px;
    --border-12: 12px;
    --border-16: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

/* .container-right {
    max-width: 1532px;
    margin: 0 -102px 0 auto;
} */