* {
    box-sizing: border-box;
}

body {
    background-color: #F39494;
    font-family: 'Open sans', sans-serif;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-inner {
    max-width: 582px;
    background-color: #fff;
    padding: 72px 95px 91px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;

}

.askDescr {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 47px;
}

.askDescr a {
    font-size: 18px;
    font-weight: 400;
    color: #089FE0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

input {
    padding: 11px 9px;
    border: 1px solid rgba(245, 245, 245, 1);
    color: rgba(51, 51, 51, 1);

    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
}

.form-wrapper:nth-child(2) {
    display: flex;
    column-gap: 2px;
}

#name {
    border-radius: 5px 0 0 5px;
}

#surname {
    border-radius: 0 5px 5px 0;
}

input::placeholder {
    color: rgba(153, 153, 153, 1);

    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

.button {
    position: relative;
    padding: 9px;
    border: none;
    border-radius: 5px;
    background: rgba(8, 159, 224, 1);
    color: rgba(255, 255, 255, 1);

    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: background 1s ease;
}

.button:hover {
    background: rgb(6, 114, 160);
}

.button::after {
    content: url(img/Arrow.svg);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.form-wrapper:last-child input {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form-wrapper:last-child label {
    font-size: 14px;
    font-weight: 400;
}

.form-wrapper:last-child label a {
    color: #089FE0;
}