body {
    background: linear-gradient(to bottom, #374151 0%, #111827 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-inner {
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    padding: 10px 50px;
    background-color: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    border: none;
    color: #fff;
}

.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.list>li:first-child {
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo {
    color: #fff;
    width: 35px;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgba(75, 85, 99, 1);

}

.header a {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header a:hover {
    color: #b8b7b7;
}

.section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.title {
    max-width: 525px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 38px;
}

.hero {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.heroName,
.heroProfession {
    font-size: 16px;
    color: #fff;
}

.img {
    display: block;
    margin: 0 auto 70px;
    border-radius: 5px;
}

.heroProfession {
    color: rgba(255, 255, 255, 0.5);
}

.blogDescr {
    max-width: 708px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}

.blogDescr p {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

.blogDescr p:last-child {
    margin-bottom: 0;
}

.footer {
    padding: 77px 0;
}

.footerText {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}